.cardContainer {
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.cardBackground {
  background-color: #edf8ff;
}
