.overallContainer {
  background-color: #edf8ff;
}

.container {
  width: 80%;
  margin: 2rem auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
}
.slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slidecard {
  width: 250px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  display: inline-block;
  margin: 0.5rem;
}

.slidecard img {
  width: 80%;
}
.buttonleft {
  vertical-align: middle;
}

/*arrow buttons*/
.buttonright img {
  max-width: 3rem;
  margin: 1rem;
}

.buttonleft img {
  max-width: 3rem;
  margin: 1rem;
}

.buttonright:hover,
.buttonleft:hover {
  cursor: pointer;
}
