.faq-accordion {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
}


.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-size: 1.2rem;
  background-color: #EDF8FF;
  padding: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.arrow {
  transition: transform 0.3s ease;
}

.open {
  transform: rotate(180deg);
}

.faq-answer {
  background-color: #EDF8FF;
  padding: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}



/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media screen and (max-width: 37.5em) {
  

}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.5em) {

}

/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) {

}