.box{
    display: grid;
    max-width: 80%;
    padding-top: 2%;
    padding: 2%;
    padding-bottom:1% ;
    margin: 4.5rem auto;
    margin-bottom: 9rem;
    background-color:#EDF8FF ;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.box b{
    font-size: 2rem;
    color: #18A0FB;
    padding-left: 30px;
    padding-top: 1rem;
}
.box p{
    font-size: 1rem;
}

li {
    padding-bottom: 1.5rem;
}

.purposeContainer {
    max-width: 90%;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }