.container{
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    max-width: 80%;
    color: #ffffff;
    background-color:#082437 ;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container h1{
    font-size: 2rem;
}
.container p{
    font-size: 1rem;
}

/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media screen and (max-width: 37.5em) {

}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.5em) {

}


/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) {

}