.people{
    display: inline;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.facuty{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: inline;
}
.facuty Member{
    display: inline-block;
}