/*Container*/
.container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

/*Logo*/
.logoContainer img {
  width: 50px;
  margin: auto;
}


/*Links*/
.linksContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.linksContainer a {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

/*Button*/
.registerButtonDiv {
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #18a0fb;
  border-radius: 6px;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  color: #ffffff;
  font-weight: bold;
}

/* -------------------------------------------------------- */

/* S M A L L   V I E W */
@media screen and (max-width: 37.5em) {
  .container {
    
  }
  

}

/* -------------------------------------------------------- */

/* M E D I U M   V I E W */
@media only screen and (min-width: 37.5em) {
  .container {
    width: unset;
    max-width: 80%;
    padding: 1.5rem;
  }

  /*Logo*/
  .logoContainer img {
    width: 50px;
    /* max-width: 30%;
    min-width: 30%; */
    padding-left: 40%;
  }

  /*Links*/
  .linksContainer a {
    font-size: .8rem;
    padding: 1rem;
    color: #18a0fb;
    font-weight: bolder;
  }

}

/* -------------------------------------------------------- */

/* L A R G E   V I E W */
@media only screen and (min-width: 64em) {

  .container {
    width: unset;
    max-width: 100%;
    padding: 2rem;
  }

  /*Logo*/
  .logoContainer img {
    width: 100px;
    padding-left: 50%;
  }

  /*Links*/
  .linksContainer a {
    font-size: 1rem;
    padding: 1.5rem;
    color: #18a0fb;
    font-weight: bolder;
  }

}

