.galleryContainer{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;

}

.images img{
    width: 100%;
    padding: 1rem; 
}